<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="controls-container">
    <ion-toolbar class="home-navbar" color="transparent">

      <ion-buttons slot="start">
          <ion-menu-toggle>
            <ion-menu-button color="dark"></ion-menu-button>
          </ion-menu-toggle>
        </ion-buttons>

      <ion-buttons slot="end">
        <ion-button color="dark" (click)="toggleMapMode()">
          <ion-icon slot="start" [name]="mapLayerActive ? 'list' : 'pin'"></ion-icon>
          {{ mapLayerActive ? 'List' : 'Map' }}
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>

  <div class="search-results" *ngIf="searchResults.length"
    (click)="toggleMapMode()"
    [ngClass]="{ 'map-active': mapLayerActive }"
    [@mapAnimation]="mapLayerActive ? 'map' : 'list'">
    <app-appointment-summary-list-item *ngFor="let searchResult of searchResults"
      [appointmentSummary]="searchResult">
    </app-appointment-summary-list-item>
  </div>
</ion-content>
